html {
  touch-action: none;
  /* Отключает стандартные действия при касаниях (например, скроллинг) на всех сенсорных устройствах. */

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Отключает выделение текста или элементов на странице пользователем во всех браузерах (Mozilla, WebKit, Chrome, и т.д.). */
}

body {
  margin: 0;
  /* Убирает стандартные отступы браузера вокруг тела документа (обнуляет отступы). */
  touch-action: none;
  /* Отключает стандартное поведение при касаниях для тела документа. */
}

#workspace {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* Задает относительное позиционирование для дочерних элементов внутри этого контейнера. */
  background-color: rgb(226, 226, 226);
  overflow: hidden;
  /* Отключает отображение контента, выходящего за границы контейнера. */
}

.target {
  position: absolute;
  /* Абсолютное позиционирование для точного размещения элементов внутри родительского контейнера (workspace). */
  border: 1px solid black;
  /* Добавляет черную рамку шириной 1px вокруг каждого элемента с классом "target". */
  background-color: red;
  /* Задает красный цвет фона для каждого элемента с классом "target". */
  box-sizing: border-box;
  /* Задает поведение модели коробки, включающее padding и border в общие размеры элемента. Это предотвращает изменение размеров при добавлении отступов и рамок. */
}
